.container {
  display: flex;
  justify-content: center;
  .divider {
    width: 1px;
    position: absolute;
    top: 70px;
    height: 330px;
    border-left: 1px solid #14141430;
  }
  .form {
    margin-top: 100px;
    border: 1px solid #14141440;
    border-radius: 3px;
    padding: 20px;
    min-width: 400px;
    h4 {
      padding: 10px;
    }
    .btn {
      float: right;
    }
  }
  .form:last-child {
    margin-left: 80px;
  }
}
